# Configuración de TODOMIGOB para Raspberry Pi 4

# Servidor de Base de Datos SQLite
DB_PATH=todomigob.db

# Servidor Web y API
HOST=0.0.0.0
PORT=8080

# Servidor SMTP de Correo (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

# Correo de Gmail de donde se enviarán las alertas (¡Coloca aquí tu correo de Google!)
SMTP_USER=tu_correo_gmail@gmail.com

# Contraseña de aplicación generada en tu cuenta de Google para la app 'todomigob'
SMTP_PASS=lykc jsej osgf ezee
SMTP_APP_NAME=todomigob

# Nombre visible del remitente
SENDER_NAME=TODOMIGOB Alertas Ciudadanas
