[Unit]
Description=Servicio de Base de Datos y Notificaciones TODOMIGOB
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/reto-8-trebol-4-devop-plus/raspberry-pi
EnvironmentFile=/home/pi/reto-8-trebol-4-devop-plus/raspberry-pi/.env
ExecStart=/usr/bin/python3 server.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
